@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "StretchPro";
  src: url("./assets/fonts/StretchPro.otf");
}

@layer base {
  body {
    background: url("./assets/imgs/pattern-bg.svg");
    @apply bg-black;
  }
}
